.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0 0 1rem;
    padding: 0.35rem;
}

@media screen and (max-width: 550px) {
    .wrapper {
        justify-content: center;
    }
}

.a {
    text-decoration: none;
    text-shadow: none;
    display: flex;
    align-items: stretch;
}

.a:hover {
    text-decoration: none;
}

.containerShadowWrapper {
    display: grid;
    width: 12rem;
    min-height: 11rem;
    margin: 0.35rem;
}

.containerShadowWrapper:hover .containerShadow {
    /*margin-bottom: 0;*/
    /*opacity: 0.6;*/
    background-color: var(--main);
    background-image: var(--gradient);
    background-attachment: fixed;
}

.containerShadowWrapper:hover .icon {
    background-color: var(--main);
    background-image: var(--gradient);
    background-attachment: fixed;
}

.containerShadowWrapper:hover .container {
    margin: 0.2rem;
    padding: 1rem;
    border-radius: 7px;
}

.containerShadow {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    background-color: var(--altBackground);
    background-image: linear-gradient(to bottom, var(--altBackground), var(--altBackground));
    border-radius: 10px;
}

.container {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    background-color: var(--background);
    margin: 0.1rem;
    border-radius: 10px;
    flex-direction: column;
    padding: 1.1rem;
    box-sizing: border-box;
}

.padded {
    padding: 0.5rem 0;
}

.centered {
    display: flex;
    justify-content: center;
    text-align: center;
}