.wrapper {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.label {
    margin-left: 0.2rem;
    font-weight: bold;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2rem;
    border: 1pt solid var(--altBackground);
    /*flex-grow: 1;*/
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
}

@media screen and (max-width: 900px) {
    .key {
        font-size: 0.6rem;
        width: 1.5rem;
        height: 1.5rem;
        margin: 0;
    }
}